#
ANTHROPIC_API_KEY

# $ solana config get
# Sample Output:
# Config File: $USER_HOME_DIRECTORY/.config/solana/cli/config.yml
# RPC URL: https://api.mainnet-beta.solana.com
# WebSocket URL: wss://api.mainnet-beta.solana.com/ (computed)
# Keypair Path: $USER_HOME_DIRECTORY/.config/solana/id.json
# Commitment: confirmed
#
# For devnet: http://api.devnet.solana.com
SOLANA_RPC_URL

# Display current Solana PubKey
# $ solana-keygen pubkey
#
# If key yet not generated
# $ solana-keygen new
# Sample Output:
# Generating a new keypair
#
# For added security, enter a BIP39 passphrase
#
# NOTE! This passphrase improves security of the recovery seed phrase NOT the
# keypair file itself, which is stored as insecure plain text
#
# BIP39 Passphrase (empty for none):
#
# Wrote new keypair to $USER_HOME_DIRECTORY/.config/solana/id.json
# ===================================================================================
# pubkey: <PubKey Value displayed here>
# ===================================================================================
# Save this seed phrase and your BIP39 passphrase to recover your new keypair:
# vessel swift target confirm dream critic mushroom brother balcony you position lava
# ===================================================================================
SOLANA_PRIVATE_KEY

#
DRY_RUN
